{% extends "./base.html" %}
{% block content %}
<div class="container">
    <p class="text-center display-3">List of all the Insurances</p>
    <div class="text-center">
        <a href="{% url 'insurance_insert' %}" class="btn btn-primary">Insert
            More</a>
    </div>
    <br>
    <table class="table table-dark">
        <thead>
            <tr>
                <th class="px-2">Policy ID</th>
                <th class="px-2">Name</th>
                <th class="px-2">Insurance Type</th>
                <th class="px-2">Date of Commencement</th>
                <th class="px-2">Expiry Type</th>
                <th class="px-2">Installment Amount</th>
                <th class="px-2">Maturity Amount</th>
                <th class="px-2">Date of Maturity</th>
                <th class="px-2">Aadhar Card</th>
                <th class="px-2">Edit</th>
                <th class="px-2">Delete</th>
                <th class="px-2">Comments</th>
            </tr>
        </thead>
        {% for x in insurances %}
        <tr>
            <td>{{ x.policyID}}</td>
            <td>{{ x.name}}</td>
            <td>
                {% for z in insuranceChoices %}
                {% if x.insuranceType in z%}
                {{z.1}}
                {%endif%}
                {%endfor%}
            </td>
            <td>{{ x.dateOfCommencement}}</td>
            <td>
                {% for z in expiry %}
                {% if x.expiryType in z%}
                {{z.1}}
                {%endif%}
                {%endfor%}
            </td>
            <td>{{ x.installmentAmount}}</td>
            <td>{{ x.maturityAmount}}</td>
            <td>{{ x.dateOfMaturity}}</td>
            <td>{{ x.comments }}</td>
            <td>
                <img src="{{ x.aadhar.url }}" alt=""
                    class="card-img-top" height="100px"
                    style="object-fit:contain">
            </td>
            <td>
                <a href="{% url 'insurance_update' x.id %}" class="btn
                    txt-secondary px-0">
                    <i class="fas fa-edit fa-lg" style="color:white;"></i>
                <! - - </a> - - >
            </td>
            <td>
                <a href="{% url 'insurance_delete' x.id %}" class="btn
                    txt-secondary px-0">
                    <i class="fas fa-trash fa-lg" style="color:white;"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}