{% extends "./base.html" %}
{% block content %}
<div class="container">
    <div>
        <p class="text-center display-3">Insurance Form</p>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-dark">
                <tr>
                    <td>Policy ID*:</td>
                    <td>{{form.policyID}}</td>
                </tr>
                <tr>
                    <td>Name*: </td>
                    <td>{{form.name}}</td>
                </tr>
                <tr>
                    <td>Date of Commencement*: </td>
                    <td>{{form.dateOfCommencement}} </td>
                </tr>
                <tr>
                    <td>Date of Maturity*: </td>
                    <td>{{form.dateOfMaturity}}</td>
                </tr>
                <tr>
                    <td>Expiry Type*: </td>
                    <td>{{form.expiryType}}</td>
                </tr>
                <tr>
                    <td>Insurance Type*: </td>
                    <td>{{form.insuranceType.0}} 
                        {{form.insuranceType.1}} 
                        {{form.insuranceType.2}} </td>
                </tr>
                <tr>
                    <td>Upload Aadhar Card Photo*: </td>
                    <td>{{form.aadhar}}</td>
                </tr>
                <tr>
                    <td>Installment Amount*: </td>
                    <td>{{form.installmentAmount}}</td>
                </tr>
                <tr>
                    <td>Maturity Amount*: </td>
                    <td>{{form.maturityAmount}}</td>
                </tr>
                <tr>
                    <td>Any Comments?: </td>
                    <td>{{form.comments}}</td>
                </tr>
                <tr>
                    <td>Are you sure you want to upload this? *</td>
                    <td>{{form.confirmation}} Yes</td>
                </tr>
                <tr>
                    <td></td><td>
                        <input class="btn btn-danger" type="submit"
                            value="Upload">
                        <a href="{% url 'insurance_view' %}" class="btn
                            btn-success">View</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock content %}